<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Movie_Rent_System.Properties.Settings.Video_ClubConnectionString"
            connectionString="Data Source=ZCM-233204864\SQLEXPRESS;Initial Catalog=&quot;Video Club&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>